# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 6
    groups:
      dev-dependencies:
        dependency-type: "development"
        patterns:
          - "*"
        applies-to: "version-updates"
      astro-and-starlight:
        patterns:
          - "astro"
          - "@astrojs/*"
          - "astro-*"
          - "starlight-*"
        applies-to: "version-updates"
    assignees:
      - "r3nya"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"
        applies-to: "version-updates"
    assignees:
      - "r3nya"
