---
import { SITE_CONFIG } from "@/data/config.ts";
---

<hr />

<h2>Внести вклад</h2>

<p>Нашли неточность или хотите дополнить информацию? Вы можете:</p>

<ul>
  <li>Связаться по <a href={`mailto:${SITE_CONFIG.email}`}>email</a></li>
  <li>Создать pull request в <a href={SITE_CONFIG.github}>GitHub</a></li>
</ul>

<h2>Поддержать</h2>

<p>
  Если этот сайт был вам полезен, вы можете <a href={SITE_CONFIG.bmc} target="_blank">купить кофе</a> ☕
</p>

<h2>Лицензия</h2>

<p>
  Все материалы на этом сайте опубликованы под лицензией <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0</a>.
</p>

<p>
  <em>Использование контента возможно только в исходной форме, без изменений и в
    некоммерческих целях, с обязательным указанием источника.</em>
</p>
