---
import EditLink from 'virtual:starlight/components/EditLink';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
import Pagination from 'virtual:starlight/components/Pagination';
import config from 'virtual:starlight/user-config';
import "astro-feelback/styles/feelback.css";
import FeelbackTaggedMessage from "astro-feelback/components/FeelbackTaggedMessage.astro";
---

<footer class="sl-flex">
	<div class="meta sl-flex">
		<EditLink {...Astro.props} />
		<LastUpdated {...Astro.props} />
		<FeelbackTaggedMessage contentSetId="e11cd0a7-3a05-4ce2-90f6-040d7f4512a5"
				layout="button-dialog"
				preset="feedback"
				title="Вопросы, идеи, предложения"
				label="Обратная связь"
				textAnswer="Спасибо за сообщение!"
				withEmail="optional"
				preselect="0"
		/>
	</div>
	<Pagination {...Astro.props} />
	{
		config.credits && (
			<a class="kudos sl-flex" href="https://starlight.astro.build">
				<Icon name={'starlight'} /> {Astro.props.labels['builtWithStarlight.label']}
			</a>
		)
	}
</footer>

<style>
	footer {
		flex-direction: column;
		gap: 1.5rem;
	}
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
		margin-inline-start: auto;
	}

	.kudos {
		align-items: center;
		gap: 0.5em;
		margin: 1.5rem auto;
		font-size: var(--sl-text-xs);
		text-decoration: none;
		color: var(--sl-color-gray-3);
	}
	.kudos :global(svg) {
		color: var(--sl-color-orange);
	}
	.kudos:hover {
		color: var(--sl-color-white);
	}
</style>
